.contact-bg{
    background: var(--background-principal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.contact-form {
    margin: 0 auto;
}

.contact-info p a{
    color: var(--texto);
}

.contact-form-div{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    gap: 4rem;

}

.contact-form input, #msg{
    display: block;
    /* margin: 0px auto 10px auto; */
    padding: 1rem 2rem;
    border-radius: 6px;
    border: #000 solid 2px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

#msg{
    padding: 0px;
}

.contact-form input::placeholder, #msg::placeholder{
    font-family: Montserrat;
}

#msg::placeholder{
    padding: 1rem 0px 0px 2rem;
}

.contact-form-div h2{
    text-align: center;
    font-size: 4rem;
}

.contact-form .button {
    width: 100%;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
}

.contact-form .button p {
    margin: 0px;
    font-size: 1.5rem;
}

.form-info {
    display: flex;
    gap: .2rem;
    margin-bottom: 1rem;
}

#subject {
    margin-bottom: 1rem;
}

@media (max-width: 1100px) {
    .contact-form {
       max-width: 300px;
    }
}

@media (max-width: 700px) {
    .contact-bg{
        justify-content: center;
        align-content: center;
    }
}