html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Mulish, Arial;
    font-size: 20px;
    margin: 0px;
    transition: .1s;
    background: var(--background-principal);
    color: var(--texto);
}

.light-mode {
    --background-principal: #fff;
    --background-secundario: #eee;
    --cor-principal: #336699;
    --cor-principal-escura: #153556;
    --cor-secundaria: #86BBD8;
    --texto: #000;
    --texto-secundaria: #6e6e6e;
    --back-to-top-bg: #adadaddb;
}

.dark-mode {
    --background-principal: #141414;
    --background-secundario:  #121212;
    --cor-principal: #336699;
    --cor-principal-escura: #153556;
    --cor-secundaria: #86BBD8;
    --texto: #fff;
    --texto-secundaria: #616161;
    --back-to-top-bg: #343434db;
}

ul{
    padding: 0px;
}

.back-to-top {
    background: var(--back-to-top-bg);
    color: var(--texto);
    border-radius: 1rem;
    cursor: pointer;
    position: fixed;
    bottom: -200px;
    right: 2rem;
    transition: .3s;
    display: flex;
}

.back-to-top span {
    font-size: 4rem;
}