.main-bg{
    display: flex;
    height: 100vh;
}

.main-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: auto;
}

.main-grid-texts p{
    margin-bottom: 1rem;
    color: var(--texto-secundaria);
    font-size: 2rem;
}


.main-grid-texts h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.main-grid-texts .dev-text{
    font-size: 2rem;
    margin: 0px;
}

.main-grid-texts {
    display: flex;
    align-items: center;
}

#kayky{
    color: var(--cor-secundaria);
}

img{
    max-width: 100%;
    max-height: 100%;
}

.picture img{
    width: 500px;
}

@media(max-width: 1100px) {
    .main-grid.grid {
        padding: 12rem 7vw 8rem 7vw;
    }
    
    .main, .sobre, .skills, .contato{
        justify-content: flex-start;
        align-content: center;
    }
    
    .main-grid-texts{
        margin-left: 0px;
    }

    .picture{
        display: none;
    }
}

@media (max-width: 600px) {
    .main-grid-texts h1{
        font-size: 3rem;
    }

    .main-grid-texts, .dev-text{
        width: 15ch;
        font-size: 1.5rem;
    }

    /* .main-grid-texts .button {
        width: 10rem;
    }     */
}