.projetos{
    /* height: 60rem; */
    background: var(--background-secundario);
    display: flex;
    flex-direction: column;
}

.projetos-container {
    /* padding: 150px 15vw 150px 15vw; */
}

.projetos-container h2 {
    font-size: 4rem;
}

.projetos-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.projeto {
    background: var(--background-principal);
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    text-align: left;
    justify-content: center;
}

.projeto .button {
    padding: 10px 38px;
}

.projeto-buttons {
    display: flex;
    justify-content: space-between;
}

.projeto-display, .projeto-info {
    width: 400px;
}

.projeto h3 {
    font-size: 2rem;
}

.projeto img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    max-height: 400px;
    border-radius: 6px;
    transition: 0.2s;
}

.projeto img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

.projetos h2 {
    text-align: center;
}

@media (max-width: 500px){
    .projeto {
        width: 300px;
    }

    .projeto img {
        height: 300px;
        width: 300px;
    }

    .projeto p {
        width: 22ch;
    }

    .projeto-display, .projeto-info {
        width: 300px;
    }

    .projeto .button {
        width: 100%;
        padding: 10px 0px;
        display: inline-block;
    }

    .projetos h2 {
        font-size: 3rem;
    }
}