.projetos-bg{
    background: var(--background-secundario);
    margin: 0 auto;
    padding: 120px 7vw;
}

.projetos-bg h2 {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 6rem;
    color: var(--cor-secundaria);
}

.projetos-container {
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    gap: 3rem;
    max-width: 100vw;
    margin: 0 auto;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
}

.projetos-container::-webkit-scrollbar {
    height: .8rem;
}

.projetos-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(134, 134, 134); 
    border-radius: 10px;
}

.projetos-container::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    border-radius: 10px;
}

.projetos-container::-webkit-scrollbar-thumb:hover {
    background: #d8d8d8; 
}

.projeto-bg {
    background: var(--background-principal);
    border-radius: 6px;
    padding: 10px 20px;
    display: flex;   
}

.projeto-container {
    padding: 10px 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projeto h3, img {
    margin-bottom: 1rem;
}

.projeto-info p:nth-child(2) {
    margin-bottom: 1rem;
}

.projeto-info .button {
    max-width: 100%;
    margin-bottom: .5rem;
}

.projeto-display, .projeto-info {
    display: flex;
    flex-direction: column;
}

.projeto-display a {
    max-width: max-content;
}

.projeto-display h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.projeto-display img {
    object-fit: cover;
    width: 400px;
    border-radius: 6px;
    transition: 0.2s;
}

.projeto-display img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

.projeto-info p {
    width: 20ch;
}

.projeto-info p:first-child {
    margin-bottom: .5rem;
}

@media(max-width: 1300px) {
    .projetos-bg h2 {
        font-size: 4rem;
    }
}

@media(max-width: 1100px) {
    .projetos-bg h2 {
        text-align: left;
    }
   
}

@media (max-width: 700px) {
    .projeto-info .button {
        width: 20ch;
        display: inline-block;
    }
}

@media (max-width: 500px){
    .projeto {
        width: 300px;
    }

    .projeto img {
        height: 300px;
        width: 300px;
    }

    .projeto p {
        width: 22ch;
    }

    .projeto-display, .projeto-info {
        width: 300px;
    }

    .projeto .button {
        width: 100%;
        padding: 10px 0px;
        display: inline-block;
    }

    .projetos-bg h2 {
        font-size: 3rem;
    }
}