@import "./global.css";
@import "./header.css";
@import "./main.css";
@import "./about.css";
@import "./skills.css";
@import "./projects.css";
@import "./contact.css";

@media(max-width: 1500px){
    .projetos {
        height: 2400px;
    }

    .projetos-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1300px){
    .sobre-grid h2{
       font-size: 4rem;
    }

    .info p {
        font-size: 1.5rem;
        width: 20ch;
    }

    .cert{
        font-size: 1.5rem;
    }

    .cert a{
        width: 7ch;
        text-align: center;
    }

    .skills-text{
        font-size: 4rem;
    }

}

@media (max-width: 1100px){
    .header {
        background-color: var(--background-secundario);
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 120px;
        display: flex;
    }

    .nav-container{
        width: 100%;
        justify-content: space-between;
    }

    .nav-container p{
        align-self: center;
    }

    .hamburger-menu{
        display: block;
        cursor: pointer;
    }
    
    .hamburger-menu-ativo .barra:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu-ativo .barra:nth-child(2){
        opacity: 0;
    }
    
    .hamburger-menu-ativo .barra:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu{
        display: flex;
        position: fixed;
        z-index: -1;
        left: 0px;
        top: -100%;
        gap: 0;
        flex-direction: column;
        background: var(--background-secundario);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    
    .nav-menu li a{
        margin: 16px;
        display: inline-block;
    }
    
    .nav-menu-ativo{
        top: 100px;
    }

    .main {
        margin-top: 120px;
    }
    
    .main, .sobre, .skills, .contato{
        justify-content: flex-start;
        align-content: center;
    }

    .main-grid, .sobre-grid, .skills-grid, .contato-grid{
        display: block;
    }

    .main-grid-texts{
        margin-left: 0px;
    }
    
    .sobre-grid h2{
        text-align: left;
        margin: 0px;
    }

    .info p {
        width: 20ch;
        font-size: 1.5rem;
        width: 25ch;
        text-align: left;
    }

    .skills-text{
        justify-content: left;
        margin: 0px 10vw 0px 10vw
    }

    .skills-items p{
        text-align: left;
        margin: .5rem 10vw .5rem 10vw;
    }

    .skills-items-grid, .skills-text, .skills-items p{
        margin: 0px;
        margin-bottom: 10px;
    }

    .email-pic, .insta-pic, .picture{
        display: none;
    }

    .contato-info-email{
        justify-content: center;
    }
}

@media (max-width: 700px){
    .nav-container, .sobre-grid, .skills-grid, .contato-grid{
        margin: 0px 8vw 0px 8vw;
    }

    .main{
        margin-top: 110px;
    }

    .main-grid{
        margin: 10rem 8vw 10rem 8vw;
    }

    .button {
        display: block;
        text-align: center;
        width: 6rem;
        margin: 10px 0px 10px 0px;
    }

    .skills{
        justify-content: flex-start;
        align-content: center;
    }

    .skills-text, .skills-items p{
        margin: 0px;
        margin-bottom: 10px;
    }

    .skills-items-grid{
        margin: 0px 6px;
    }

    .contato{
        justify-content: center;
        align-content: center;
    }
}

@media (max-width: 500px){
    .header{
        background: var(--background-secundario);
    }
    
    .header p{
        margin: 5vw 0px 5vw 0px;
    }

    .navbar ul li a:hover{
        border-bottom: none;
    }

    .logo{
        font-size: 2rem;
        margin: 0px 8vw 0px 8vw;
    }

    .button {
        display: block;
        text-align: center;
        width: 6rem;
        margin: 10px 0px 10px 0px;
    }

    .main-grid{
        margin: 4rem 8vw 4rem 8vw;
    }

    .main-grid-texts h1{
        font-size: 3rem;
    }

    .main-grid-texts, .dev-text{
        width: 15ch;
        font-size: 1.5rem;
    }

    .info p{
        font-size: 1.5rem;
        width: 18ch;
        line-height: 1.5;
        text-align: left;
    }

    .cert a{
        width: 4rem;
    }

    .cert p{
        width: 8;
    }

    .skills-items-grid{
        width: 100px;
        justify-content: center;
        gap: 20px;
    }

    .botao{
        margin-left: 4px;
     }

    .projetos {
        height: 2800px;
    }
}