.button {
    background: linear-gradient(var(--cor-principal), var(--cor-principal-escura)) ;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    max-width: max-content;
    transition: 0.3s;
}

.button:hover{
    background: linear-gradient(#284f77, #0e253b);
    transition: 0.3s;
}

.section {
    padding: 4rem 0;
}

.container {
    padding: 0 7vw 0 7vw;
    flex: 1;
}

.hidden {
    display: none;
}

@media (max-width: 1100px){
    .container{
        display: block;
    }
}

@media (max-width: 700px){
    .button {
        display: block;
        text-align: center;
        margin: 10px 0px 10px 0px;
    }
}

@media (max-width: 500px){
    .button {
        display: block;
        text-align: center;
        margin: 10px 0px 10px 0px;
    }
}