.button {
    background: linear-gradient(var(--cor-principal) 70%, var(--cor-principal-escura)) ;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    max-width: max-content;
    border: 1px solid #000;
    transition: 0.3s;
}

.button:hover{
    background: linear-gradient(rgb(80, 141, 195), rgb(51, 103, 140));
    transition: 0.3s;
}

.section {
    height: 100vh;
}

.container {
    padding: 0 7vw 0 7vw;
    flex: 1;
}

.hidden {
    display: none;
}

@media (max-width: 1100px){
    .container{
        display: block;
    }
}

@media (max-width: 700px){
    .button {
        display: block;
        text-align: center;
        width: 8rem;
        margin: 10px 0px 10px 0px;
    }
}

@media (max-width: 500px){
    .button {
        display: block;
        text-align: center;
        width: 6rem;
        margin: 10px 0px 10px 0px;
    }
}