@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*
Darkmode  e roxo

body{
    font-family: Montserrat, Arial;
    font-size: 20px;
    margin: 0px;
    background: #121212;
    color: #fff;
}

#673ab7

*/

body{
    font-family: Montserrat, Arial;
    font-size: 20px;
    margin: 0px;
    max-width: 100%;
}

html{
    scroll-behavior: smooth;
}


/* Logo e Navegação */

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo{
    margin-left: 15vw;
}

.logo p{
    font-size: 3rem;
    font-weight: bold;
}

.navbar{
    margin-right: 15vw;
    display: flex;
    align-items: center;
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
}

.navbar ul li a:hover{
    border-bottom: #336699 4px solid;
    transition: 0.1s;
}

/* Principal */

/* .main{
 
} */

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 15vw 150px 15vw;
}

.texts{
    margin-left: 2rem;
}

.texts h1{
    font-size: 4rem;
    margin: 0rem 0rem 1rem 0rem;
}

.texts .dev-text{
    font-size: 2rem;
    margin: 0px;
}

#kayky{
    color: #86BBD8;
}

.contatos{
    background: #336699;
    padding: 1rem 2rem;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.contatos:hover{
    background: #153556;
    transition: 0.3s;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.picture img{
    width: 500px;
}

/* Sobre */

.sobre{
    background: #eee;
    height: 60rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 3px #eee;
    width: 100%;
}

.sobre-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 15vw;
    
}

.sobre-grid h2{
    margin: 0px 4rem;
    text-align: right;
    font-size: 8rem;
    color: #86BBD8;
    text-transform: uppercase;
    align-self: center;
}

.info{
    display: flex;
    align-items: center;
    font-size: 2rem;
    line-height: 2.5rem;
}

.cert{
    grid-column: 2;
    display: flex;
    font-size: 2rem;
}

.cert a{
    background: #336699;
    padding: 1rem 2rem;
    grid-column: 2;
    align-self: start;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    align-self: center;
    margin-right: 1rem;
}

.cert a:hover{
    background: #153556;
    transition: 0.3s;
}

.negrito{
    font-weight: bold;
}

/* skills */

.skills{
    height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 15vw;
}

.skills-text{
    display: flex;
    grid-column: 2;
    grid-row: 1;
}

.skills-text{
    font-size: 8rem;
    color: #336699;
    margin: 0px 4rem;
    align-self: center;
}

.skills-items{
    align-self: center;
}

.skills-items p{
    text-align: center;
    font-size: 2rem;
}

.lang ul li{
    display: block;
    list-style: none;
    text-align: center;
    margin: 1.5rem 0px
}


.skills-items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 8rem;
    background:#eee;
    padding: 1rem 6rem;
    border-radius: 6px;
}

.skills-items-grid img{
    max-width: 2rem;
    display: block;
}

.skills-items-grid li{
    background: #fff;
    padding: 4px;
    border-radius: 6px;
}

.lang{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-self: center;
}

.icons{
    grid-row: 2;
    grid-column: 1;
    align-self: center;
}

.icons img{
    margin: 1rem 0rem;
}

/* contato */

.contato{
    height: 60rem;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contato-grid{
    margin: 0rem 20vw 0rem 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* padding: 300px 0px 0px 0px; */
}

.email-pic{
    height: 50px;
    padding: 5px;
    border-radius: 6px;
    align-self: center;
}

.insta-pic{
    height: 50px;
    padding: 5px;
    border-radius: 6px;
    align-self: center;
}

.contato-info p a{
    color: #000;
}

.contato-info-email{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.contato-info-insta{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.contato-form-div{
    align-items: center;
}

.contato-form input{
    display: block;
    margin: 0px auto 10px auto;
    padding: 1rem 2rem;
    border-radius: 6px;
    border: #000 solid 3px;
}

.contato-form input::placeholder{
    font-family: Montserrat;
}

.contato-form p{
    text-align: center;
    font-size: 2rem;
}


/* responsivo */

@media (max-width: 1300px){
    /* .navbar{
        display: none;
    } */

    .sobre-grid h2{
       font-size: 4rem;
    }

    .info p {
        font-size: 1.5rem;
        width: 20ch;
    }

    .skills-text{
        font-size: 4rem;
    }

    .cert{
        font-size: 1.5rem;
    }

    .cert a{
        width: 7ch;
        text-align: center;
    }
}

@media (max-width: 1100px){
    .info p {
        font-size: 1rem;
        width: 20ch;
    }

    .skills-grid{
        display: block;
    }

    .skills-grid h2{
        justify-content: center;
    }

    .email-pic{
        display: none;
    }

    .insta-pic{
        display: none;
    }

    .info p {
        font-size: 1.5rem;
        width: 25ch;
        text-align: center;
    }

    .sobre{
        justify-content: center;
    }

    .sobre-grid{
        display: block;
    }

    .sobre-grid h2{
        text-align: center;
        margin: 0px;
    }

    .picture {
        display: none;
    }

    .main-grid{
        display: block;
    }

    .contato-grid{
        display: block;
        gap: 0px;
    }

    .contato-info-email{
        justify-content: center;
        gap: 0px;
    }

    .skills-items-grid{
        margin: 0px 10vw 0px 10vw;
    }
}

@media (max-width: 500px){
    .contatos{
        display: block;
        text-align: center;
        width: 6rem;
        margin: 10px 0px 10px 0px;
    }

    .info p{
        font-size: 1.5rem;
        width: 18ch;
        line-height: 1.5;
    }

    .main-grid{
        margin: 150px 5vw 150px 5vw;
        width: 25ch;
    }

    .skills-items-grid{
        margin: 0px 5vw 0px 5vw;
        width: 100px;
    }

    .cert a{
        width: 4rem;
    }

    .cert p{
        width: 8;
    }

    .navbar ul li a:hover{
        border-bottom: none;
    }
}