@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* @media (prefers-color-scheme: light){
    :root{
        --background-principal: #fff;
        --background-secundario: #eee;
        --cor-principal: #336699;
        --cor-principal-escura: #153556;
        --cor-secundaria: #86BBD8;
        --texto: #000;
    }
} */

/* @media (prefers-color-scheme: dark){
    :root{
        --background-principal: #141414;
        --background-secundario:  #121212;
        --cor-principal: #336699;
        --cor-principal-escura: #153556;
        --cor-secundaria: #86BBD8;
        --texto: #fff;
    }
} */

:root{
    --background-principal: #fff;
    --background-secundario: #eee;
    --cor-principal: #336699;
    --cor-principal-escura: #153556;
    --cor-secundaria: #86BBD8;
    --texto: #000;
}

body{
    font-family: Montserrat, Arial;
    font-size: 20px;
    margin: 0px;
    background: var(--background-principal);
    color: var(--texto);
}

html{
    scroll-behavior: smooth;
}

ul{
    padding: 0px;
}

/* Logo e Navegação */

.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 15vw 0px 15vw;
}

.navbar{
    display: flex;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--texto);
    padding: 10px 20px;
}

.navbar ul li a:hover{
    border-bottom: 4px solid var(--cor-principal);
    transition: 0.1s;
}

/* Principal */

/* .main{
 
} */

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 15vw 150px 15vw;
}

.texts{
    margin-left: 2rem;
}

.texts h1{
    font-size: 4rem;
    margin: 0rem 0rem 1rem 0rem;
}

.texts .dev-text{
    font-size: 2rem;
    margin: 0px;
}

#kayky{
    color: var(--cor-secundaria);
}

.contatos{
    background: var(--cor-principal);
    padding: 1rem 2rem;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

.contatos:hover{
    background: var(--cor-principal-escura);
    transition: 0.3s;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.picture img{
    width: 500px;
}

/* Sobre */

.sobre{
    background: var(--background-secundario);
    height: 60rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 3px var(--background-secundario);
}

.sobre-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 15vw;
    
}

.sobre-grid h2{
    margin: 0px 4rem;
    text-align: right;
    font-size: 8rem;
    color: var(--cor-secundaria);
    text-transform: uppercase;
    align-self: center;
}

.info{
    display: flex;
    align-items: center;
    font-size: 2rem;
    line-height: 2.5rem;
}

.cert{
    grid-column: 2;
    display: flex;
    font-size: 2rem;
}

.cert a{
    background: var(--cor-principal);
    padding: 1rem 2rem;
    grid-column: 2;
    align-self: start;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    align-self: center;
    margin-right: 1rem;
}

.cert a:hover{
    background: var(--cor-principal-escura);
    transition: 0.3s;
}

.negrito{
    font-weight: bold;
}

/* skills */

.skills{
    height: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.skills-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 15vw;
}

.skills-text{
    display: flex;
    grid-column: 2;
    grid-row: 1;
}

.skills-text{
    font-size: 8rem;
    color: var(--cor-secundaria);
    margin: 0px 4rem;
    align-self: center;
}

.skills-items{
    align-self: center;
}

.skills-items p{
    text-align: center;
    font-size: 2rem;
}

.lang ul li{
    display: block;
    list-style: none;
    text-align: center;
    margin: 1.5rem 0px
}

.skills-items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 8rem;
    background: var(--background-secundario);
    padding: 1rem 6rem;
    border-radius: 6px;
}

.skills-items-grid img{
    max-width: 2rem;
    display: block;
}

.skills-items-grid li{
    background: var(--background-principal);
    padding: 4px;
    border-radius: 6px;
}

.lang{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-self: center;
}

.icons{
    grid-row: 2;
    grid-column: 1;
    align-self: center;
}

.icons img{
    margin: 1rem 0rem;
}

/* contato */

.contato{
    height: 60rem;
    background: var(--background-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contato-grid{
    margin: 0rem 20vw 0rem 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* padding: 300px 0px 0px 0px; */
}

.email-pic, .insta-pic{
    height: 50px;
    padding: 5px;
    border-radius: 6px;
    align-self: center;
}

.contato-info p a{
    color: var(--texto);
}

.contato-info-email, .contato-info-insta{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.contato-form-div{
    align-items: center;
}

.contato-form input, #msg{
    display: block;
    margin: 0px auto 10px auto;
    padding: 1rem 2rem;
    border-radius: 6px;
    border: #000 solid 3px;
}

#msg{
    padding: 0px;
}

.contato-form input::placeholder, #msg::placeholder{
    font-family: Montserrat;
}

#msg::placeholder{
    padding: 1rem 0px 0px 2rem;
}

.contato-form p{
    text-align: center;
    font-size: 2rem;
}

.botao{
   border: solid 3px black;
   border-radius: 6px;
   /* height: 3rem; */
   margin-left: 1.5rem;
   display: flex;
}

.botao p{
    margin: 0px;
    font-size: 1.5rem;
}

/* responsivo */

@media (max-width: 1300px){
    /* .navbar{
        display: none;
    } */

    .sobre-grid h2{
       font-size: 4rem;
    }

    .info p {
        font-size: 1.5rem;
        width: 20ch;
    }

    .skills-text{
        font-size: 4rem;
    }

    .cert{
        font-size: 1.5rem;
    }

    .cert a{
        width: 7ch;
        text-align: center;
    }
}

@media (max-width: 1100px){
    .info p {
        font-size: 1rem;
        width: 20ch;
    }

    .texts{
        margin-left: 0px;
    }

    .main{
        text-align: left;
    }

    .skills-grid{
        display: block;
    }

    .skills-grid h2{
        justify-content: left;
    }

    .skills-items p{
        text-align: left;
        margin: .5rem 10vw .5rem 10vw;
    }

    .email-pic{
        display: none;
    }

    .insta-pic{
        display: none;
    }

    .info p {
        font-size: 1.5rem;
        width: 25ch;
        text-align: left;
    }

    .sobre-grid h2{
        text-align: left;
        margin: 0px;
    }

    .sobre{
        justify-content: flex-start;
    }

    .picture {
        display: none;
    }

    .main-grid{
        display: block;
    }

    .contato-grid{
        display: block;
        gap: 0px;
        margin: 0px 15vw 0px 15vw;
    }

    .contato-info-email{
        justify-content: center;
        gap: 0px;
    }

    .skills-items-grid{
        margin: 0px 10vw 0px 10vw;
    }

    .skills-text{
        margin: 0px 10vw 0px 10vw
    }

    .skills-items-grid, .skills-text, .skills-items p{
        margin: 0px;
        margin-bottom: 10px;
    }

    .skills{
        justify-content: flex-start;
        align-content: center;
    }

    .contato{
        justify-content: flex-start;
        align-content: center;
    }

    .sobre-grid{
        margin: 0px 15vw 0px 15vw;
        display: block;
    }
}

@media (max-width: 700px){
    .nav-container{
        margin: 0px 8vw 0px 8vw;
    }

    .contatos{
        display: block;
        text-align: center;
        width: 6rem;
        margin: 10px 0px 10px 0px;
    }

    .main-grid{
        margin: 3rem 8vw 8rem 8vw;
    }

    .main{
        margin: 0px;
    }

    .sobre{
        justify-content: flex-start;
        align-content: center;
        /* display: flex; */
    }

    .sobre-grid{
        margin: 0px 8vw 0px 8vw;
    }

    .skills{
        justify-content: flex-start;
        align-content: center;
    }

    .skills-grid{
        margin: 0px 8vw 0px 8vw;
    }

    .skills-items-grid, .skills-text, .skills-items p{
        margin: 0px;
        margin-bottom: 10px;
    }

    .skills-items-grid{
        margin: 0px 6px;
    }

    .contato-grid{
        margin: 0px 8vw 0px 8vw;
    }

    .contato{
        justify-content: center;
        align-content: center;
    }
}

@media (max-width: 500px){
    .contatos{
        display: block;
        text-align: center;
        width: 6rem;
        margin: 10px 0px 10px 0px;
    }

    .logo{
        font-size: 2rem;
    }

    .texts h1{
        font-size: 3rem;
    }

    .texts{
        width: 15ch;
    }

    .texts .dev-text{
        font-size: 1.5rem;
    }

    .info p{
        font-size: 1.5rem;
        width: 18ch;
        line-height: 1.5;
        text-align: left;
    }

    .skills-items-grid{
        /* margin: 0px 5vw 0px 5vw; */
        width: 100px;
        justify-content: center;
        gap: 20px;
    }

    .cert a{
        width: 4rem;
    }

    .cert p{
        width: 8;
    }

    .navbar ul li a:hover{
        border-bottom: none;
    }

    .navbar{
        display: none;
    }

    .main-grid{
        margin: 4rem 8vw 4rem 8vw;
    }

    .header p{
        margin: 5vw 0px 5vw 0px;
    }

    .header{
        background: var(--background-secundario);
    }

    .logo{
        margin: 0px 8vw 0px 8vw;
    }

    .botao{
        margin-left: 4px;
     }
}